archive.zip
dataset.csv
ML - projet (sujet).pdf
code/__pycache__/*
code/*.png

# Exchange files
.~*

.codex

resultat_shell.txt

# LaTeX
*.aux
*.log
*.out
*.pdf
*.toc


# Virtual environment (for Ubuntu...)
code/.venv
